{% extends 'partials/base.html.twig' %}

{% block content %}
    <section id="body" class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12">
                {{ page.content }}
            </div>
        </div>
    </section>
{% endblock %}
